.sliderContainer{
  width:1200px;
  margin: 50px auto;
  padding: 50px;
  background: rgb(203,94,4);
  background: linear-gradient(90deg, rgba(203,94,4,1) 0%, rgba(177,176,52,1) 35%, rgba(6,149,1,1) 100%);
  position: relative;
}

.buttons{
  position:absolute ;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  top: 50%;
  z-index: 333;
}

.buttons > button {
 padding: 10px;
 font-size: 20px;
 border-radius: 10px;
 cursor: pointer;
 background: rgb(4,35,203);
 background: linear-gradient(90deg, rgba(4,35,203,1) 0%, rgba(50,160,164,1) 35%, rgba(4,17,82,1) 100%);
 color: aliceblue;
}

.slider{
  height: 256px;
  width: 1024px;
  margin: 30px auto;
  overflow: hidden;
}

.sliderLine{
  height: 256px;
  background-color: rgb(142, 165, 42);
  display: flex;
  position: relative;
}